{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
<!-- Google Fonts Roboto -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
<!-- MDB -->
<link rel="stylesheet" href="/css/mdb.min.css" />
<!-- Custom styles -->
<link rel="stylesheet" href="/css/admin.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
  crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>List Product</span>
                <a href="{{path('addpd')}}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                  <i></i><span>Edit Product</span>
                </a>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>User </span>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-lock fa-fw me-3"></i><span>Contact</span></a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-chart-line fa-fw me-3"></i><span>Orders</span></a>
          <a href="#" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Order Detail</span>
          </a>
        </div>
      </div>
    </nav>
    
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <td>STT</td>
                    <td>ID Product</td>
                    <td>Image </td>
                    <td>Product name</td>
                    <td>Price</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>    
                {% for sp in data %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{sp.getId()}}</td>
                        <td><img src="{{asset('uploads/' ~ sp.getImage())}}" height="100" /></td>
                        <td>{{sp.getName()}}</td>
                        <td>{{sp.getPrice()}}</td>
                        <td>
                            <a href="{{path('app_edit_san_pham',{'id':sp.getId()})}}" class="btn btn-warning">Edit</a>
                            <a href="javascript:deletesp('{{path('app_delete_san_pham',{'id':sp.getId()})}}')" class="btn btn-danger">Delete</a>  
                        </td>
                    </tr> 
                {% endfor %}
            </tbody>
             
        </table>
        <ul>
            <a href="{{path('addpd')}}" class="btn btn-warning"; style="margin-left: 20px;">Add Product</a>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function deletesp(url){
            if(confirm("Do you delete product?")){
                window.location.href = url;
            }
        }
    </script>

    {% if message is not empty %}
        <script>
            alert("{{message}}");
            window.location.href = "{{path('list_product')}}";
        </script>
    {% endif %}

{% endblock %}